# ignore all csv-files in dasea_data/ directory
dasea_data/**/*.csv

# ignore all csv-files in out labelled directories, since they can  be generated
**/out/**.csv


# neo4j-admin import log file
import.report

# macOS Finder config file
.DS_Store

# personal vscode settigns
.vscode/

# notebook checkpoints
.ipynb_checkpoints

# neo results data for Snyk
neo-data/*
!neo-data/.gitkeep